.header {
  grid-area: h;
  padding: 20px;
  /*background-color: #7fc6c6;*/
}

.img {
  width: 50px;
}

.loginBlockIsAuth {
  /*float: left;*/
  margin-left: 15px;
  font-weight: bold;

}

.loginBlockNotAuth {
  margin-left: 15px;
  font-weight: bold;
  color: #ef5050;
}
