
.nav {
  grid-area: n;
  background-color:white;
  padding: 55px;
  font-weight: 700;
 }
 .item {
  font-weight: bold;
  text-decoration: none;

 }
 .activeLink {
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  color: rgb(163, 51, 113);
}
