.appWrapper {
  margin: 0;
  display: grid;
  width: 1200px;
  grid-template-areas: "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns:2fr 10fr ;
  grid-gap: 10px;
}
.nav {
  font-weight: 500;
  padding: 0 0 0 55px;
  height: 100%;
  width: 100vw;
  grid-area: n;
 }
 .item {
  color: white;
 }